<!DOCTYPE html>
<html lang="en">
<head>
    <title>OneTech</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-`scale=1">    
    
    <partial name="Partial/_StyleCss"/>
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>

    <div class="super_container">

        <partial name="Partial/_Header" />

        @RenderBody()

        


        <partial name="Partial/_Newsletter" />

        <partial name="Partial/_Footer" />
        <partial name="Partial/_Copyright" />
    </div>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>