
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a asp-action="Employees">Сотрудники</a></li>
        </ul>
        <hr />
    </div>
    <div><h1>Добро пожаловать на сайт!</h1></div>
    <div><hr /><p><h3>&copy;@DateTime.Now.Year</h3></p></div>
</body>
</html>
