@{
    ViewData["Title"] = "В доступе отказано!";
}
@section Styles {
    <partial name="Partial/_Index_Styles" />
}
@section Scripts {
    <partial name="Partial/_Index_Scripts" />
}

<div class="single_post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p class="text-danger">В доступе отказано!</p>
                <a asp-controller="Home" asp-action="Index">На главную страницу!</a>
            </div>
        </div>
    </div>
</div>

