
@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="#">Сотрудники</a></li>
        </ul>
        <hr />
    </div>
    <div><table>
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Возраст</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td>@item.Age</td>
                </tr>
            }
        </tbody>
</table></div>
    <div><hr /><p><h3>&copy;@DateTime.Now.Year</h3></p></div>
</body>
</html>
