<!-- Main Nav Menu -->

<div class="main_nav_menu ml-auto">
    <ul class="standard_dropdown main_nav_dropdown">
        <li><a asp-controller="Home" asp-action="Index">Главная<i class="fas fa-chevron-down"></i></a></li>
        <li><a asp-controller="Shop" asp-action="Index">Каталог<i class="fas fa-chevron-down"></i></a></li>
        <li><a asp-controller="Cart" asp-action="Index">Корзина<i class="fas fa-chevron-down"></i></a></li>
        <li><a asp-controller="Blog" asp-action="Index">Блог<i class="fas fa-chevron-down"></i></a></li>
        <li><a asp-controller="Contact" asp-action="Index">Контакты<i class="fas fa-chevron-down"></i></a></li>
        <li><a asp-controller="Employees" asp-action="Index">Сотрудники<i class="fas fa-chevron-down"></i></a></li>
    </ul>
</div>