<!-- Main Nav Menu -->

<div class="main_nav_menu ml-auto">
    <ul class="standard_dropdown main_nav_dropdown">
        <li><a asp-controller="Home" asp-action="Index">Home<i class="fas fa-chevron-down"></i></a></li>
        <li class="hassubs">
            <a href="#">Super Deals<i class="fas fa-chevron-down"></i></a>
            <ul>
                <li>
                    <a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                    </ul>
                </li>
                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
            </ul>
        </li>
        <li class="hassubs">
            <a href="#">Featured Brands<i class="fas fa-chevron-down"></i></a>
            <ul>
                <li>
                    <a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                    </ul>
                </li>
                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
            </ul>
        </li>
        <li class="hassubs">
            <a href="#">Pages<i class="fas fa-chevron-down"></i></a>
            <ul>
                <li><a asp-controller="Home" asp-action="Shop">Shop<i class="fas fa-chevron-down"></i></a></li>
                <li><a asp-controller="Home" asp-action="Product">Product<i class="fas fa-chevron-down"></i></a></li>
                <li><a asp-controller="Home" asp-action="Blog">Blog<i class="fas fa-chevron-down"></i></a></li>
                <li><a asp-controller="Home" asp-action="Blog_single">Blog Post<i class="fas fa-chevron-down"></i></a></li>
                <li><a asp-controller="Home" asp-action="Regular">Regular Post<i class="fas fa-chevron-down"></i></a></li>
                <li><a asp-controller="Home" asp-action="Cart">Cart<i class="fas fa-chevron-down"></i></a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact<i class="fas fa-chevron-down"></i></a></li>
            </ul>
        </li>
        <li><a asp-controller="Home" asp-action="Blog">Blog<i class="fas fa-chevron-down"></i></a></li>
        <li><a asp-controller="Home" asp-action="Contact">Contact<i class="fas fa-chevron-down"></i></a></li>
        <li><a asp-controller="Employees">Employees<i class="fas fa-chevron-down"></i></a></li>
    </ul>
</div>